@font-face {
   font-family: arcade;
   src: url(./fonts/ARCADECLASSIC.TTF);
}

body {
   margin: 0;
}

button {
   background: transparent;
   border: none;
   margin: 0;
   padding: 0;
   outline: 0;
   cursor: pointer;
}

input {
   background: transparent;
   border: none;
   outline: none;
   cursor: text;
   font-family: arcade;
}